@mixin customNeon($borderWidth, $mainColor, $shadow, $shadowColor, $brightness){
    border: $borderWidth solid $mainColor;
    box-shadow: $shadow $shadowColor;
    filter: brightness($brightness);
}