@import "vars";

.neon {
  border: $borderWidth solid $mainColor;
  box-shadow: $shadow $shadowColor;
  filter: brightness($brightness);
}

.red-orange-neon {
  border: 1.5px solid rgb(255, 25, 0);
  box-shadow: 0 0px 16px 0 rgba(255, 25, 0, 0.3);
  filter: brightness(150%);
}

.orange-neon {
  border: 1.5px solid rgb(255, 136, 0);
  box-shadow: 0 0px 16px 0 rgba(255, 136, 0, 0.3);
  filter: brightness(150%);
}

.vivid-yellow-neon {
  border: 1.5px solid rgb(255, 204, 0);
  box-shadow: 0 0px 16px 0 rgba(255, 204, 0, 0.3);
  filter: brightness(150%);
}

.bright-yellow-neon {
  border: 1.5px solid rgb(255, 250, 0);
  box-shadow: 0 0px 16px 0 rgba(255, 250, 0, 0.3);
  filter: brightness(150%);
}

.green-neon {
  border: 1.5px solid rgb(105, 255, 150);
  box-shadow: 0 0px 16px 0 rgba(105, 255, 150, 0.3);
  filter: brightness(150%);
}

.yellow-green-neon {
  border: 1.5px solid rgb(216, 255, 0);
  box-shadow: 0 0px 16px 0 rgba(216, 255, 0, 0.3);
  filter: brightness(150%);
}

.lime-neon {
  border: 1.5px solid rgb(182, 255, 0);
  box-shadow: 0 0px 16px 0 rgba(182, 255, 0, 0.3);
  filter: brightness(150%);
}

.vibrant-lime-neon {
  border: 1.5px solid rgb(221, 255, 0);
  box-shadow: 0 0px 16px 0 rgba(221, 255, 0, 0.3);
  filter: brightness(150%);
}

.vibrant-aqua {
  border: 1.5px solid rgb(0, 255, 165);
  box-shadow: 0 0px 16px 0 rgba(0, 255, 165, 0.3);
  filter: brightness(150%);
}

.cyan-neon {
  border: 1.5px solid rgb(0, 255, 255);
  box-shadow: 0 0px 16px 0 rgba(0, 255, 255, 0.3);
  filter: brightness(150%);
}

.bright-cyan-neon {
  border: 1.5px solid rgb(0, 221, 255);
  box-shadow: 0 0px 16px 0 rgba(0, 221, 255, 0.3);
  filter: brightness(150%);
}

.vibrant-blue {
  border: 1.5px solid rgb(5, 125, 255);
  box-shadow: 0 0px 16px 0 rgba(5, 125, 255, 0.3);
  filter: brightness(150%);
}

.deep-purple {
  border: 1.5px solid rgb(152, 0, 255);
  box-shadow: 0 0px 16px 0 rgba(152, 0, 255, 0.3);
  filter: brightness(150%);
}

.magenta-neon {
  border: 1.5px solid rgb(212, 0, 255);
  box-shadow: 0 0px 16px 0 rgba(212, 0, 255, 0.3);
  filter: brightness(150%);
}

.vibrant-magenta-neon {
  border: 1.5px solid rgb(255, 0, 228);
  box-shadow: 0 0px 16px 0 rgba(255, 0, 228, 0.3);
  filter: brightness(150%);
}

.neon-rotate {
  border-radius: 50% !important;
  border-top: $borderWidth solid transparent;
  border-right: $borderWidth solid transparent;
  border-width: $borderWidth;
  box-shadow: none;
  animation: rotate $neonRotateDuration linear infinite;
}
.neon-tick {
  animation: neon-tick $neonTickDuration ease-in-out infinite alternate;
  transition: 0.5s;
}
.neon-text {
  text-shadow: $neonTextColor 1px 0 15px;
  color: rgb(255, 105, 217);
  filter: brightness(150%);
}
.neon-text-tick {
  animation: neon-text-tick $neonTextTickDuration infinite alternate;
}

@keyframes neon-tick {
  from {
  }
  to {
    box-shadow: none;
    border-color: transparent;
  }
}
@keyframes neon-text-tick {
  from {
  }
  to {
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 0 10px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
