$mainColor : rgb(255, 105, 217);
$brightness : 150%;
$shadow : 0 0 16px 0;
$shadowColor : 0 0 16px 0 rgba(255,105,217,0.3);
$borderWidth : 2px;
$neonTickDuration : 0.5s;
$neonRotateDuration : 2s;
$neonTextColor : rgb(255, 105, 217);
$neonTextTickDuration : 0.3s;